In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/media/D/musor/123.xls')

FileNotFoundError: [Errno 2] No such file or directory: '/media/D/musor/123.xls'

In [208]:
df.groupby('Агент (владелец)')['Потраченное на заявку время'].sum() /60

Агент (владелец)
Александр Кириченко    69.666667
Алибек Тухбаев          2.766667
Не назначена            0.100000
Нурлан Сагындык        32.233333
Name: Потраченное на заявку время, dtype: float64

In [209]:
df.columns

Index(['Номер', 'Ticket#', 'Возраст', 'Название', 'Дата создания',
       'Время закрытия', 'Очередь', 'Состояние', 'ID клиента', 'Сервис', 'SLA',
       'Тип', 'Агент (владелец)', 'Потраченное на заявку время',
       'Дата первого ответа', 'Обработка', 'Количество сообщений',
       'Глобальный инцидент', 'Источник', 'Причина отклонения', 'Оценка',
       'Информационная система', 'Причина обращения', 'Имя Фамилия',
       'Отдел/Отделение', 'Требуется выезд СА (уведомление директору)',
       'Текст обращения', 'TestText2'],
      dtype='object')

In [210]:
df['Время закрытия']

0                     NaN
1     2023-06-12 10:44:14
2                     NaN
3     2023-06-12 10:02:21
4     2023-06-12 09:28:24
             ...
93    2023-06-01 14:31:02
94    2023-06-01 11:27:26
95    2023-06-02 17:41:54
96    2023-06-01 17:36:31
97    2023-06-02 17:37:15
Name: Время закрытия, Length: 98, dtype: object

In [211]:
df['Время закрытия'] = df['Время закрытия'].dropna(how='all')

In [212]:
pd.to_datetime(df['Время закрытия'].dropna(how='all'))

1    2023-06-12 10:44:14
3    2023-06-12 10:02:21
4    2023-06-12 09:28:24
6    2023-06-12 10:00:09
8    2023-06-12 10:02:48
             ...
93   2023-06-01 14:31:02
94   2023-06-01 11:27:26
95   2023-06-02 17:41:54
96   2023-06-01 17:36:31
97   2023-06-02 17:37:15
Name: Время закрытия, Length: 85, dtype: datetime64[ns]

In [213]:
time_str = pd.to_datetime(df['Время закрытия'],dayfirst=True)#.dt.strftime('%Y-%m-%d %H:%M:%S')

In [214]:
time_str

0                    NaT
1    2023-12-06 10:44:14
2                    NaT
3    2023-12-06 10:02:21
4    2023-12-06 09:28:24
             ...
93   2023-01-06 14:31:02
94   2023-01-06 11:27:26
95   2023-02-06 17:41:54
96   2023-01-06 17:36:31
97   2023-02-06 17:37:15
Name: Время закрытия, Length: 98, dtype: datetime64[ns]

In [215]:
df['Week_Number'] = time_str.dt.day_of_week

In [216]:
df['Week_Number']

0     NaN
1     2.0
2     NaN
3     2.0
4     2.0
     ...
93    4.0
94    4.0
95    0.0
96    4.0
97    0.0
Name: Week_Number, Length: 98, dtype: float64

In [217]:
time_str.dt.day_of_week

0     NaN
1     2.0
2     NaN
3     2.0
4     2.0
     ...
93    4.0
94    4.0
95    0.0
96    4.0
97    0.0
Name: Время закрытия, Length: 98, dtype: float64

In [218]:
df.groupby(['Агент (владелец)', 'Week_Number'])['Потраченное на заявку время'].sum() /60

Агент (владелец)     Week_Number
Александр Кириченко  0.0            11.383333
                     1.0            14.733333
                     2.0             9.550000
                     3.0             9.433333
                     4.0            11.166667
                     5.0             4.400000
                     6.0             8.116667
Алибек Тухбаев       0.0             1.033333
                     3.0             0.200000
                     4.0             0.166667
                     5.0             1.350000
Нурлан Сагындык      2.0             6.150000
                     3.0             6.483333
                     5.0             6.800000
                     6.0            12.533333
Name: Потраченное на заявку время, dtype: float64

In [219]:
df['data'] = pd.to_datetime(df['Время закрытия'].dropna(how='all'),dayfirst=True)#.dt.strftime('%Y-%m-%d %H:%M:%S')

In [220]:
sort_df = df['data'].dt.date

In [221]:
sort_df = df.dropna(how='all')

In [222]:
df['data'] = sort_df['data'].dt.date

In [223]:
#sort_df = df['date'].dropna(how='all')

In [224]:
df[['Время закрытия', 'data']]

         Время закрытия        data
0                   NaN         NaT
1   2023-06-12 10:44:14  2023-12-06
2                   NaN         NaT
3   2023-06-12 10:02:21  2023-12-06
4   2023-06-12 09:28:24  2023-12-06
..                  ...         ...
93  2023-06-01 14:31:02  2023-01-06
94  2023-06-01 11:27:26  2023-01-06
95  2023-06-02 17:41:54  2023-02-06
96  2023-06-01 17:36:31  2023-01-06
97  2023-06-02 17:37:15  2023-02-06

[98 rows x 2 columns]

In [231]:
time_str.dropna(inplace=True)

In [232]:
df['data1'] = pd.to_datetime(time_str, format='%Y-%m-%d').dt.date

In [227]:
#df['data1'] = pd.to_datetime(df['data1'])

In [228]:
#df = df.set_index('data1')

In [229]:
#df.dropna(inplace=True)

In [238]:
df['data1'].dropna(axis=0)

1     2023-12-06
3     2023-12-06
4     2023-12-06
6     2023-12-06
8     2023-12-06
         ...
93    2023-01-06
94    2023-01-06
95    2023-02-06
96    2023-01-06
97    2023-02-06
Name: data1, Length: 85, dtype: object